* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e4e4e1;
}

header {
  width: 100vw;
  height: 5rem;
  padding: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main-logo {
  width: 80px;
  height: 80px;
  background-color: #ffd002;
  border-radius: 50%;
  position: relative;
  z-index: 10;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    z-index: inherit;
  }

  > * {
    &:nth-child(2) {
      width: 160px;
      transform: translateX(-140px) translateY(-50px) rotate(5deg);
      & img {
        transform: rotate(-5deg);
      }
    }

    &:nth-child(3) {
      width: 100px;
      transform: translateX(-70px) translateY(-90px) rotate(35deg);

      & img {
        height: auto;
        transform: rotate(-35deg);
      }
    }

    &:nth-child(4) {
      width: 80px;
      transform: translateX(0px) translateY(-110px) rotate(90deg);

      & img {
        transform: rotate(-90deg);
      }
    }

    &:nth-child(5) {
      width: 170px;
      transform: translateX(50px) translateY(-85px) rotate(160deg);

      & img {
        transform: rotate(-160deg);
      }
    }

    &:nth-child(6) {
      width: 155px;
      transform: translateX(60px) translateY(-45px) rotate(180deg);

      & img {
        transform: rotate(-180deg);
      }
    }

    &:nth-child(7) {
      width: 170px;
      transform: translateX(47px) translateY(0px) rotate(199deg);

      & img {
        transform: rotate(-199deg);
      }
    }

    &:nth-child(8) {
      width: 80px;
      transform: translateX(0px) translateY(20px) rotate(270deg);

      & img {
        transform: rotate(-270deg);
      }
    }

    &:nth-child(9) {
      width: 150px;
      transform: translateX(-120px) translateY(0px) rotate(335deg);

      & img {
        object-fit: contain;
        transform: rotate(-335deg);
      }
    }
  }
}

.line {
  display: flex;
  align-items: center;
  position: absolute;
  height: 2px;
  background-color: #ffd002;
  z-index: -1;

  &__circle {
    background-color: #ffd002;
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: inherit;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;

    & img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
      z-index: inherit;
    }
  }
}

.shaking {
  animation: shaking 6s infinite linear alternate;
}

.slider {
  animation: slider 7s linear infinite;
}

@media screen and (min-width: 700px) {
  header {
    font-size: 1.4rem;
  }

  .main-logo {
    width: 150px;
    height: 150px;

    > * {
      &:nth-child(2) {
        width: 300px;
        transform: translateX(-270px) translateY(-80px) rotate(5deg);
      }

      &:nth-child(3) {
        width: 160px;
        transform: translateX(-120px) translateY(-170px) rotate(35deg);
      }

      &:nth-child(4) {
        width: 140px;
        transform: translateX(5px) translateY(-200px) rotate(90deg);
      }

      &:nth-child(5) {
        width: 310px;
        transform: translateX(108px) translateY(-160px) rotate(160deg);
      }

      &:nth-child(6) {
        width: 290px;
        transform: translateX(120px) translateY(-70px) rotate(180deg);
      }

      &:nth-child(7) {
        width: 310px;
        transform: translateX(108px) translateY(15px) rotate(199deg);
      }

      &:nth-child(8) {
        width: 140px;
        transform: translateX(5px) translateY(45px) rotate(270deg);
      }

      &:nth-child(9) {
        width: 260px;
        transform: translateX(-200px) translateY(20px) rotate(335deg);
      }
    }
  }

  .line {
    height: 4px;

    &__circle {
      width: 15px;
      height: 15px;
    }

    &__img {
      width: 90px;
      height: 90px;

      & img {
        height: 90px;
        width: 90px;
      }
    }
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes shaking {
  25% {
    transform: translateX(-3px) translateY(-3px) scale(0.95);
  }
  50% {
    transform: translateX(-6px) translateY(0px);
  }

  75% {
    transform: translateX(-3px) translateY(3px) scale(1.05);
  }
}
